@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
/* variables */
:root {
  --primary: orange;
  --primary-light: #f59921;
  --primary-bg: rgba(245, 153, 33, 0.6);
  --primary-bg-light: rgba(245, 153, 33, 0.1);
  --yellow: #ff8d41;
  --white-trans: rgba(255, 255, 255, 0.5);
  --white: #fff;
  --light: #ddd;
  --silver: #c0c0c0;
  --gray: #707070;
  --dark: #333;
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}
img {
  width: 100%;
  height: auto;
}
/* ----------------- Utilieties --------------------------------*/
.grid {
  display: grid;
  gap: 10px;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.active {
  color: #fff;
  background-color: orange;
}
.img--contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------- Mobile -------------------------------------*/
/* container__main */
.container__main {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 10vh; */
  grid-template-areas:
    "banner banner"
    "logo logo"
    "menu menu";
}
/* section__banner */
#section__banner {
  grid-area: banner;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "phone1 ."
    "phone2 ."
    "mail .";
  width: 100%;
  padding: 10px 30px;
  background-color: var(--black);
  color: var(--white);
  text-align: left;
}
.phone1 {
  grid-area: phone1;
}
.phone2 {
  grid-area: phone2;
}
.mail {
  grid-area: mail;
}
#section__banner span {
  font-size: 1em;
  display: flex;
  color: var(--white);
}
#section__banner span i {
  color: var(--primary-light);
  font-size: 1em;
  margin-right: 1em;
}
/* section__logo */
#section__logo {
  grid-area: logo;
}
.logo {
  text-align: center;
  font-size: 2em;
  font-family: "Great Vibes", cursive;
}
.img__div {
  padding: 20px 30px;
  height: 20vh;
}
/* section__menu__main */
#section__menu__main {
  /* display: none; */
  margin-bottom: 3em;
}
/* section__content */
#section__content {
  /* display: none; */
}
/* section__carousel */
/* #section__carousel {
  width: 100%;
  padding: 0;
}
.carousel-slider {
  background-color: var(--white);
}
.img-align-center {
  height: 30vh;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
/* info__section */
#section__info {
  padding: 40px 30px;
  text-align: center;
  /* background-color: pink; */
}
#section__info h1 {
  margin-bottom: 2em;
}
#section__info p {
  color: var(--gray);
}
/* doswiadczenie__section */
#section__doswiadczenie {
  /* margin-bottom: 3em; */
  text-align: center;
  background-image: url(../assets/tlo-szafka.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--white-trans);
  background-blend-mode: screen;
}
.doswiadczenie__text {
  padding: 40px 30px;
}
.doswiadczenie__text h1 {
  font-size: 1.5em;
  margin-bottom: 2em;
  color: var(--yellow);
}
.doswiadczenie__text p {
  font-size: 1em;
  color: var(--dark);
}
.doswiadczenie__card__panel {
  padding: 40px 30px;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
}
.doswiadczenie-card {
  margin-bottom: 2em;
}
.doswiadczenie-card i {
  color: var(--yellow);
  font-size: 2.5em;
  margin-bottom: 15px;
}
.doswiadczenie-card h1 {
  color: var(--dark);
}
.doswiadczenie-card h4 {
  color: var(--black);
}
/* section__contact */
#section__contact {
  padding: 30px 20px;
  background-color: var(--primary-bg);
}
#section__contact h3 {
  text-align: center;
  margin-bottom: 0;
  color: var(--dark);
}
#section__contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#section__contact input,
#section__contact textarea {
  width: 100%;
  color: var(--black);
  margin: 10px 0;
}
#section__contact .btn {
  background-color: rgba(20, 20, 20, 0.8);
  color: var(--primary);
  border-color: var(--primary);
} /* footer */
footer {
  width: 100%;
  background-color: var(--dark);
  color: var(--white);
  padding: 30px 20px;
}
.footer-text-col {
  text-align: center;
  line-height: 1.2;
  margin: 1rem;
}
.footer-text-col h3 {
  color: var(--primary-light);
}
/* ---------------- Tablet -------------------------------------*/
@media (min-width: 620px) {
  /* section__banner */
  #section__banner {
    grid-template-areas:
      "phone1 mail"
      "phone2 .";
    justify-items: center;
  }

  #section__banner span {
    font-size: 1.2em;
  }
  #section__banner span i {
    font-size: 1.2em;
    margin-right: 1em;
  }
}
/* ---------------- Laptop -------------------------------------*/
@media (min-width: 960px) {
  /* section__menu__main */
  #section__menu__main {
    display: block;
    grid-area: menu;
  }
  nav {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav a {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 20px 30px;
    margin: 10px;
    font-size: 1.5em;
  }
  nav a:hover {
    border-color: #000;
  }
  nav a.active {
    border-color: orange;
  }
  /* section__content */
  #section__content {
    display: block;
  }
}
/* ---------------- Desktop -------------------------------------*/
@media (min-width: 1200px) {
}
